.version.index /* version checker */
{
	color: #000006;
	background-color: #390F46;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 543px;
	min-height: 638px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 73px 500px 89px 257px;
}

#u3811
{
	z-index: 2;
	width: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3813-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 143px;
	position: relative;
}

#u3812
{
	z-index: 3;
	width: 541px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 54px;
	position: relative;
}

#u3814-14
{
	z-index: 8;
	width: 476px;
	min-height: 393px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 31px;
}

#u3815
{
	z-index: 22;
	width: 473px;
	border-color: #000000;
	background-color: #0084B5;
	border-radius: 10px;
	padding-bottom: 12px;
	margin-left: 34px;
	margin-top: 50px;
	position: relative;
}

#u3816-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 153px;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

